/* _____________NORMALIZE________________*/
:root {
  /* COLORS */
  --primary: #ED7AA4;
  --secondary: #F0DBF2;
  --terciary:#FFFFFF;
  --coo_foot: #5E4E54;
  --text-color: #3B3537;
  /* SPACINGS */
  --spacing-large:5rem;
  --spacing-medium:2.4rem;
  --spacing-small:1rem;
  --spacing-xsmall:0.5rem;
  /* FONT-FAMILY */
  --font-principal:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --font-title: 'Sacramento', cursive;
  /* FONT-SIZES */
  --text-large:3.2rem;
  --text-medium:1.8rem;
  --text-base: 1.2rem;
  --text-small:0.8rem; }

*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: var(--font-principal); }

ul {
  list-style-type: none;
  text-decoration: none; }

a {
  text-decoration: none; }

/* _____________________________HEADER__________________________ */
.header {
  background-color: var(--primary);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex; }
  .header .header__logo {
    display: flex;
    height: 6.5rem;
    width: 6.5rem;
    align-items: center;
    justify-content: center;
    display: inline-block;
    border-radius: 50%;
    margin-top: 1.5rem;
    margin-left: 1.5rem; }
    .header .header__logo img {
      background-color: var(--secondary);
      border-radius: 1rem;
      height: 6rem;
      width: 6rem;
      transition: 0.4s; }
      .header .header__logo img:hover {
        height: 6.5rem;
        width: 6.5rem; }
  .header .header__titulo {
    text-align: center;
    margin-top: 1.5rem; }
    .header .header__titulo h1 {
      font-family: var(--font-title);
      font-size: var(--text-large);
      color: var(--text-color); }
    .header .header__titulo h2 {
      margin: var(--spacing-small);
      font-family: var(--font-title);
      font-size: var(--text-medium);
      color: var(--text-color); }

/* ________________________TODOS_LOS_MAINS__________________________________________ */
.main {
  background-color: var(--secondary);
  height: 100%;
  width: 100%; }
  .main .main__titulo {
    padding: 1rem;
    padding-left: 2rem;
    color: var(--text-color); }

.btn-personal {
  background-color: var(--secondary);
  color: var(--text-color); }
  .btn-personal:hover {
    color: var(--coo_foot); }

/* ___________________________MAIN-INDEX__________________________ */
.cards__destacadas {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  gap: 2rem;
  padding-bottom: 2rem; }

#brownie {
  width: 20rem; }

#tarta_de_frutilla {
  width: auto; }

#number_cake {
  width: 20rem; }

.btn-main {
  background-color: var(--primary);
  color: var(--secondary); }
  .btn-main:hover {
    background-color: var(--secondary);
    color: var(--coo_foot); }

/*____________________MAIN_PRODUCTOS_________________________  */
/*____________________MAIN-SOBRE_NOSOTROS_________________________  */
.main-sobre_nosotros__orden {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem; }
  .main-sobre_nosotros__orden .main-sobre_nosotros__carrusel {
    width: 50rem;
    height: 40rem;
    display: flex;
    align-items: center; }
    .main-sobre_nosotros__orden .main-sobre_nosotros__carrusel img {
      width: 50rem;
      height: 40rem; }

.main-sobre_nosotros__text {
  font-size: 1.2rem; }

/*____________________MAIN_CONTACTANOS_________________________  */
.formulario {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 2rem;
  color: var(--text-color); }

/*____________________MAIN_COMO_ENCONTRARNOS_________________________  */
.main-como_encontrarnos {
  display: flex;
  flex-direction: row; }
  .main-como_encontrarnos .main-como_encontrarnos-text {
    padding: 2rem;
    display: flex;
    align-items: center; }
  .main-como_encontrarnos .main-como_encontrarnos-mapa {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem; }

/* ______________________FOOTER___________________________ */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  grid-template-areas: "derechos menu redes";
  background-color: var(--coo_foot);
  padding: 1rem; }
  .footer .footer__derechos {
    grid-area: derechos;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--terciary);
    font-size: var(--text-base); }
  .footer .footer__menu {
    grid-area: menu;
    display: flex;
    font-size: var(--text-base);
    justify-content: center;
    align-items: center; }
    .footer .footer__menu a {
      text-decoration: none;
      color: var(--terciary); }
    .footer .footer__menu li {
      padding: 0.5rem; }
  .footer .footer__redes {
    grid-area: redes;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .footer .footer__redes div {
      display: flex;
      width: 6rem;
      height: 6rem;
      align-items: center;
      justify-content: center; }
    .footer .footer__redes img {
      width: 5rem;
      height: 5rem;
      transition: 0.4s; }
      .footer .footer__redes img:hover {
        width: 6rem;
        height: 6rem; }

@media only screen and (max-width: 1199px) {
  /* _____________________MAIN-SOBRE_NOSOTROS___________________ */
  .main-sobre_nosotros__text {
    font-size: 1.2rem;
    width: 40rem;
    padding-top: 2rem; } }

@media only screen and (max-width: 991px) {
  /* ___________MAIN-INDEX_______________ */
  .cards__destacadas {
    display: flex;
    flex-direction: column;
    align-items: center; }
  #brownie {
    width: 40rem; }
  #tarta_de_frutilla {
    width: 40rem; }
  #number_cake {
    width: 40rem; }
  /* _____________________MAIN-SOBRE_NOSOTROS___________________ */
  .main-sobre_nosotros__carrusel {
    width: 40rem;
    height: 40rem; }
  .main-sobre_nosotros__text {
    width: 30rem; } }

@media only screen and (max-width: 767px) {
  /* ___________MAIN-INDEX_______________ */
  .footer__redes {
    flex-direction: column;
    align-items: center; }
  #brownie {
    width: 30rem; }
  #tarta_de_frutilla {
    width: 30rem; }
  #number_cake {
    width: 30rem; }
  /* _____________________MAIN-SOBRE_NOSOTROS___________________ */ }

@media only screen and (max-width: 540px) {
  .header__titulo h1 {
    font-size: var(--text-medium); }
  .header__titulo h2 {
    font-size: var(--text-base); }
  .header__logo {
    display: flex;
    height: 4.5rem;
    width: 4.5rem;
    align-items: center;
    justify-content: center;
    display: inline-block;
    border-radius: 50%;
    margin-top: 1rem;
    margin-left: 1rem; }
  .header__logo img {
    background-color: var(--secondary);
    border-radius: 1rem;
    height: 4rem;
    width: 4rem;
    transition: 0.4s; }
  .header__logo img:hover {
    height: 4.5rem;
    width: 4.5rem; }
  #brownie {
    width: 20rem; }
  #tarta_de_frutilla {
    width: 20rem; }
  #number_cake {
    width: 20rem; } }
