<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My cakes | Como encontrarnos</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <header>
        <nav>
            <div>
                <a href="../index.html"><img src="../assets/logo.png" alt="Logo"></a>
            </div>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./productos.html">Productos</a></li>
                <li><a href="./sobre_nosotros.html">Sobre nosotros</a></li>
                <li><a href="./contactanos.html">Contactanos</a></li>
                <li><a href="./como_encontrarnos.html">Como encontrarnos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero corporis autem exercitationem veniam animi laborum dolores ducimus amet aut, atque consequuntur eos, quam voluptates, eum adipisci sapiente voluptas architecto nostrum?

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6567.976463532052!2d-58.38324033318432!3d-34.604459089641956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4aa9f0a6da5edb%3A0x11bead4e234e558b!2sObelisco!5e0!3m2!1ses-419!2sar!4v1654733814885!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </main>

    <br><br>
    
    <footer>
        <li>Todos los derechos reservados</li>
        <nav>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="./productos.html">Productos</a></li>
            <li><a href="./sobre_nosotros.html">Sobre nosotros</a></li>
            <li><a href="./contactanos.html">Contactanos</a></li>
            <li><a href="./como_encontrarnos.html">Como encontrarnos</a></li>
            
            <li>Nuestras redes:</li>
            <li><a href="https://www.facebook.com/"><img src="../assets/Facebook.png" alt="Facebook"></a></li>
            <li><a href="https://www.instagram.com/"><img src="../assets/Instagram.jpg" alt="Instagram"></a></li>
            <li><a href="https://web.whatsapp.com/"><img src="../assets/Whatsapp.jpg" alt="Whatsapp"></a></li>
        </nav>
    </footer>
</body>
</html>