<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- CSS PROPIO -->
    <link rel="stylesheet" href="../css/estilos.css">
    <title>My cakes | Contactanos</title>

</head>
<body>
    <header class="header">
        <section class="container-fluid">

            <div class="row">

                <div class="col-1 header__logo">
                    <a href="../index.html"><img src="../assets/logo.png" alt="Logo"></a>
                </div>

                <div class="col-10 header__titulo">
                    <h1>My Cakes</h1>
                    <h2>Reposteria y Pasteleria</h2>
                </div>

            </div>

            <nav class="row navbar navbar-expand-lg" >
                <section class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="../index.html">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./productos.html">Productos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./sobre_nosotros.html">Sobre nosotros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./contactanos.html">Contactanos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./como_encontrarnos.html">Como encontrarnos</a>
                            </li>
                        </ul>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="¿Que estas buscando?" aria-label="Search">
                            <button class="btn btn-personal" type="submit">Buscar</button>
                        </form>
                    </div>
                </section>
            </nav>

        </section>

    </header>


    <main class="main">
        <div class="main__titulo">
            <h3>Contactanos y hace tu pedido</h3>
        </div>

        <section class="formulario">
            <form class="row g-3">
                <div class="col-md-6">
                    <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                    <input type="name" class="form-control" id="exampleFormControlInput1" required="" >
                </div>
                <div class="col-md-6">
                    <label for="exampleFormControlInput1" class="form-label">Apellido</label>
                    <input type="name" class="form-control" id="exampleFormControlInput1" required="" >
                </div>            
                <div class="col-md-6">
                  <label for="inputEmail4" class="form-label">Email</label>
                  <input type="email" class="form-control" id="inputEmail4">
                </div>
                <div class="col-md-6">
                    <label for="exampleFormControlInput1" class="form-label">Numero de telefono</label>
                    <input type="number" class="form-control" id="exampleFormControlInput1" required="">
                </div>
                <div class="col-md-12">
                    <label for="inputState" class="form-label">¿Que vas a pedir?</label>
                    <select id="inputState" class="form-select">
                      <option selected>Selecciona que pedir</option>
                      <option>Torta de un piso</option>
                      <option>Torta de dos pisos</option>
                      <option>Torta de tres pisos</option>
                      <option>Brownie</option>
                      <option>Tarta de frutilla</option>
                      <option>Number/Letter Cake</option>
                      <option>Shots</option>
                      <option>Macarons</option>
                      <option>Lemon Pie</option>
                    </select>
                </div>
                <div class="col-md-12">
                    <label for="FormControlTextarea1" class="form-label">Detalles que quieras agregar</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
              <button type="button submit" class="btn btn-secondary">Enviar</button>
            </form>
        </section>



        <!-- <form action="">
            <fieldset>
                <legend>Datos personales</legend>
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" placeholder="Ingresa tu nombre"
                required>
                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" id="apellido" placeholder="Ingresa tu apellido"
                required>
                <label for="correo">Correo Electronico</label>
                <input type="email" name="correo" id="correo" placeholder="Ingresa tu mail"
                required>
                <label for="num">Numero de telefono</label>
                <input type="number" name="number" id="number" placeholder="Ingresa un numero"
                required>
            </fieldset>
            <fieldset>
                <legend>Hace tu pedido</legend> -->

                <!--Menu desplegable-->
                <!-- <label for="pedido">¿Que vas a pedir?</label>
                <select name="pedido" id="pedido">
                    <option value="value">Selecciona que pedir</option>
                    <option value="torta_decorada">Torta decorada</option>
                    <option value="brownie">Brownie</option>
                    <option value="tarta_frutilla">Tarta de frutilla</option>
                    <option value="number/letter_cake">Number/Letter Cake</option>
                </select> -->

                <!--Seleccionar una -->
                <!-- <label for="Invitados">¿Cuantas personas van a comer?</label>
                <input type="radio" name="cant">10
                <input type="radio" name="cant">20
                <input type="radio" name="cant">30
                <input type="radio" name="cant">50
                <input type="radio" name="cant">75 o mas

                <br><br> -->

                <!--Checkbox-->
                <!-- <div> ¿Vas a querer algo mas? </div>
                <input type="checkbox" name="adicional">Alfajorcitos de maicena
                <input type="checkbox" name="adicional">Budín de limon
                <input type="checkbox" name="adicional">Cookies

                <br>
                <br> -->

                <!-- Textarea-->
                <!-- <label for="Detalles">Detalles que quieras agregar</label>
                <br>
                <textarea name="comentario" id="come" cols="50" rows="10" maxlength="500">
                </textarea>
                
                <br>
                <br>
                <input type="submit" value="Hacer pedido">
                <input type="reset" value="Limpiar formulario">
                
            </fieldset>
        </form>-->


    </main>

    <footer class="footer">

        <div class="footer__derechos">
            <p>
                Todos los derechos reservados
            </p>

        </div>

        <nav class="footer__menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./productos.html">Productos</a></li>
                <li><a href="./sobre_nosotros.html">Sobre nosotros</a></li>
                <li><a href="./contactanos.html">Contactanos</a></li>
                <li><a href="./como_encontrarnos.html">Como encontrarnos</a></li>
            </ul>
        </nav>

        <nav class="footer__redes">
            <div >
                <a href="https://www.facebook.com/"><img src="../assets/facebook.png" alt="Facebook"></a>
            </div>

            <div>
                <a href="https://www.instagram.com/"><img src="../assets/instagram.png" alt="Instagram"></a>
            </div>

            <div>
                <a href="https://web.whatsapp.com/"><img src="../assets/whatsapp.png" alt="Whatsapp"></a>
            </div>

        </nav>

    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>    
</body>
</html>