<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My cakes | Productos</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <header class="header">

        <div class="header__logo">
            <a href="../index.html"><img src="../assets/logo.png" alt="Logo"></a>
        </div>

        <div class="header__titulo">
            <h1>My Cakes</h1>
            <h2>Reposteria y Pasteleria</h2>
        </div>

        <ul class="header__menu">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="./productos.html">Productos</a></li>
            <li><a href="./sobre_nosotros.html">Sobre nosotros</a></li>
            <li><a href="./contactanos.html">Contactanos</a></li>
            <li><a href="./como_encontrarnos.html">Como encontrarnos</a></li>
        </ul>

        <div class="header__buscador">
            <input class="header__buscador--texto" type="text" name="buscador" id="buscador" placeholder="¿Qué estás buscando?"> 
            <img  class="lupa" src="../assets/lupa.png" alt="lupa">
        </div>

        
    </header>

    <main>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque beatae sit cupiditate temporibus ex modi? Voluptatum maxime fuga asperiores magnam, sapiente iure placeat vero molestiae alias, rerum voluptates voluptatibus cum?
    </main>

    <br><br>

    
    <footer class="footer">
       
        <div class="footer__derechos">
        <p>
            Todos los derechos reservados

        </p>
        
        </div>

        <nav class="footer__menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./productos.html">Productos</a></li>
                <li><a href="./sobre_nosotros.html">Sobre nosotros</a></li>
                <li><a href="./contactanos.html">Contactanos</a></li>
                <li><a href="./como_encontrarnos.html">Como encontrarnos</a></li>
            </ul>
        </nav>

        <nav >
            <div class="footer__redes">
                <a href="https://www.facebook.com/"><img src="../assets/facebook.png" alt="Facebook"></a>
                <a href="https://www.instagram.com/"><img src="../assets/instagram.png" alt="Instagram"></a>
                <a href="https://web.whatsapp.com/"><img src="../assets/whatsapp.png" alt="Whatsapp"></a>
            </div>

        </nav>

    </footer>
</body>
</html>