<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- CSS PROPIO -->
    <link rel="stylesheet" href="../css/estilos.css">
    <title>My cakes | Productos</title>
</head>

<body>
    <header class="header">
        <section class="container-fluid">

            <div class="row">

                <div class="col-1 header__logo">
                    <a href="../index.html"><img src="../assets/logo.png" alt="Logo"></a>
                </div>

                <div class="col-10 header__titulo">
                    <h1>My Cakes</h1>
                    <h2>Reposteria y Pasteleria</h2>
                </div>

            </div>

            <nav class="row navbar navbar-expand-lg">
                <section class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="../index.html">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./productos.html">Productos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./sobre_nosotros.html">Sobre nosotros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./contactanos.html">Contactanos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./como_encontrarnos.html">Como encontrarnos</a>
                            </li>
                        </ul>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="¿Que estas buscando?" aria-label="Search">
                            <button class="btn btn-personal" type="submit">Buscar</button>
                        </form>
                    </div>
                </section>
            </nav>

        </section>

    </header>

    <main class="main">
        <div class="main__titulo">
            <h3>Nuestros productos</h3>
        </div>

        <section class="container-fluid cards__destacadas">

            <div class="card" id="torta_de_un_piso">
                <img src="../assets/torta_de_un_piso.jpeg" class="card-img-top" alt="torta_de_un_piso">
                <div class="card-body">
                  <h5 class="card-title">Torta de un piso</h5>
                  <p class="card-text">Bizcohuelo de vainilla o chocolate a elección.
                    Rellenos:
                    Ganache de chocolate con leche o semiamargo, ganache de chocolate blanco, tramontana, oreo, marroc, dulce de leche, dulce de leche con chips y pasta bon o bon</p>
                  <a href="./contactanos.html" class="btn btn-main">Consulta precio</a>
                </div>
            </div>
    
            <div class="card" id="torta_de_dos_pisos">
                <img src="../assets/torta_de_dos_pisos.jpeg" class="card-img-top" alt="torta_de_dos_pisos">
                <div class="card-body">
                  <h5 class="card-title">Torta de dos pisos</h5>
                  <p class="card-text">
                    Bizcochuelo de vainilla o chocolate con dos cortes.
                    Rellenos a elección:
                    Ganache de chocolate con leche o semiamargo, ganache de chocolate blanco, dulce de leche, dulce de leche con chips de chocolate, tramontana, oreo, marroc y pasta bon o bon.
                    Puede ser comestible ambos pisos o un piso comestible y uno falso.</p>
                  <a href="./contactanos.html" class="btn btn-main">Consulta precio</a>
                </div>
            </div>
    
            <div class="card" id="torta_de_tres_pisos">
                <img src="../assets/torta_de_tres_pisos.jpeg" class="card-img-top" alt="torta_de_tres_pisos">
                <div class="card-body">
                  <h5 class="card-title">Torta de tres pisos</h5>
                  <p class="card-text"> Bizcochuelo de vainilla o chocolate con dos cortes.
                    Rellenos a elección:
                    Ganache de chocolate con leche o semiamargo, ganache de chocolate blanco, dulce de leche, dulce de leche con chips de chocolate, tramontana, oreo, marroc y pasta bon o bon.
                    Se pueden combinar pisos falsos.</p>
                  <a href="./contactanos.html" class="btn btn-main">Consulta precio</a>
                </div>
            </div>
        </section>        

        <section class="container-fluid cards__destacadas">

            <div class="card" id="brownie">
                <img src="../assets/brownie.png" class="card-img-top" alt="brownie">
                <div class="card-body">
                  <h5 class="card-title">Brownie</h5>
                  <p class="card-text">Brownie con o sin nueces, relleno de dulce de leche, crema chantilly o merengue, bañado de chocolate, cubierto y/o decorado con rulitos de chocolate, chocolates, oreos bañadas, macarons, chocolatines de colores.</p>
                  <a href="./contactanos.html" class="btn btn-main">Consulta precio</a>
                </div>
            </div>
    
            <div class="card" id="tarta_de_frutilla">
                <img src="../assets/tarta_de_frutilla.png" class="card-img-top" alt="tarta_de_frutilla">
                <div class="card-body">
                  <h5 class="card-title">Tarta de Frutilla</h5>
                  <p class="card-text">Masa sable, rellena de dulce de leche, crema chantilly y frutillas.</p>
                  <a href="./contactanos.html" class="btn btn-main">Consulta precio</a>
                </div>
            </div>
    
            <div class="card" id="number_cake">
                <img src="../assets/number_cake.png" class="card-img-top" alt="number_cake">
                <div class="card-body">
                  <h5 class="card-title">Number/Letter Cake</h5>
                  <p class="card-text"> Masa hecha de brownie o masa sable, relleno de dulce de leche, crema chantilly o merengue italiano, ganache de chocolate con leche, ganache de chocolate blanco.
                    Decoración a elección, macarons, chocolates, oreos bañadas, chocolatines de colores.</p>
                  <a href="./contactanos.html" class="btn btn-main">Consulta precio</a>
                </div>
            </div>
        </section>

        <section class="container-fluid cards__destacadas">

            <div class="card" id="shots">
                <img src="../assets/shots.jpeg" class="card-img-top" alt="shots">
                <div class="card-body">
                  <h5 class="card-title">Shots</h5>
                  <p class="card-text">Lemon pie, oreo, frutilla y chocotorta.</p>
                  <a href="./contactanos.html" class="btn btn-main">Consulta precio</a>
                </div>
            </div>
    
            <div class="card" id="macarons">
                <img src="../assets/macarons.jpg" class="card-img-top" alt="macarons">
                <div class="card-body">
                  <h5 class="card-title">Macarons</h5>
                  <p class="card-text">Macarons rellenos de nutella, ganache de chocolate con leche, ganache de chocolate blanco y dulce de leche.</p>
                  <a href="./contactanos.html" class="btn btn-main">Consulta precio</a>
                </div>
            </div>
    
            <div class="card" id="lemon_pie">
                <img src="../assets/lemon_pie.jpg" class="card-img-top" alt="lemon_pie">
                <div class="card-body">
                  <h5 class="card-title">Lemon Pie</h5>
                  <p class="card-text"> Masa quebrada. Crema de limón con merengue italiano.</p>
                  <a href="./contactanos.html" class="btn btn-main">Consulta precio</a>
                </div>
            </div>
        </section>
    </main>

    
    <footer class="footer">

        <div class="footer__derechos">
            <p>
                Todos los derechos reservados
            </p>

        </div>

        <nav class="footer__menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./productos.html">Productos</a></li>
                <li><a href="./sobre_nosotros.html">Sobre nosotros</a></li>
                <li><a href="./contactanos.html">Contactanos</a></li>
                <li><a href="./como_encontrarnos.html">Como encontrarnos</a></li>
            </ul>
        </nav>

        <nav class="footer__redes">
            <div >
                <a href="https://www.facebook.com/"><img src="../assets/facebook.png" alt="Facebook"></a>
            </div>

            <div>
                <a href="https://www.instagram.com/"><img src="../assets/instagram.png" alt="Instagram"></a>
            </div>

            <div>
                <a href="https://web.whatsapp.com/"><img src="../assets/whatsapp.png" alt="Whatsapp"></a>
            </div>

        </nav>

    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</body>
</html>