<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My cakes | Sobre nosotros</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <header class="header">

        <div class="header__logo">
            <a href="../index.html"><img src="../assets/logo.png" alt="Logo"></a>
        </div>

        <div class="header__titulo">
            <h1>My Cakes</h1>
            <h2>Reposteria y Pasteleria</h2>
        </div>

        <ul class="header__menu">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="./productos.html">Productos</a></li>
            <li><a href="./sobre_nosotros.html">Sobre nosotros</a></li>
            <li><a href="./contactanos.html">Contactanos</a></li>
            <li><a href="./como_encontrarnos.html">Como encontrarnos</a></li>
        </ul>

        <div class="header__buscador">
            <input class="header__buscador--texto" type="text" name="buscador" id="buscador" placeholder="¿Qué estás buscando?"> 
            <img  class="lupa" src="../assets/lupa.png" alt="lupa">
        </div>

        
    </header>

    <main class="main">
        <section class="main-sobre_nosotros">
            <div class="main-sobre_nosotros__titulo">
                <h3>
                    Nosotros y nuestra historia:
                </h3>
            </div>

            <div class="main-sobre_nosotros__img">
                <img src="../assets/collage.png" alt="collage">
            </div>

            <div class="main-sobre_nosotros__text">
                <p>
                    Nuestro emprendimiento comenzo en 2016 cuando Natalia, para todos Naty, decidio dedicarse a lo que tanto le gustaba, que era decorar tortas.
            
                </p>
                
                <p>
                    Por esto y por el impulso de hacer las tortas para su hijo mas pequeño decidio realizar un curso de decoracion de tortas.
                    En este, aprendio muchas tecnicas y procedimientos para realizar su trabajo de la mejor manera, conocio muchas colegas con las que mantiene el contacto y realiza algunos trabajos.
                    
                </p>

                <p>
                    Ese mismo año, decidio comenzar su emprendimiento con una pagina Instagram, con la que de a poco se hizo conocida y hoy en dia tiene clientes que la siguen eligiendo porla calidad de sus productos y nuevos que se van sumando día a día.
                </p>

                <p>
                    En 2020, abrio su primer local en Villa Ballester el cual crece dia a dia.
                   
                </p>

                <p>
                    Hoy en día sigue sumando clientes y haciendo feliz a todos y cada uno de ellos.
                </p>
            </div>

        </section>
    </main>

    <br><br>
    
    <footer class="footer">
       
        <div class="footer__derechos">
        <p>
            Todos los derechos reservados

        </p>
        
        </div>

        <nav class="footer__menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./productos.html">Productos</a></li>
                <li><a href="./sobre_nosotros.html">Sobre nosotros</a></li>
                <li><a href="./contactanos.html">Contactanos</a></li>
                <li><a href="./como_encontrarnos.html">Como encontrarnos</a></li>
            </ul>
        </nav>

        <nav >
            <div class="footer__redes">
                <a href="https://www.facebook.com/"><img src="../assets/facebook.png" alt="Facebook"></a>
                <a href="https://www.instagram.com/"><img src="../assets/instagram.png" alt="Instagram"></a>
                <a href="https://web.whatsapp.com/"><img src="../assets/whatsapp.png" alt="Whatsapp"></a>
            </div>

        </nav>

    </footer>

</body>
</html>