<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My cakes | Sobre nosotros</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <header>
        <nav>
            <div>
                <a href="../index.html"><img src="../assets/logo.png" alt="Logo"></a>
            </div>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./productos.html">Productos</a></li>
                <li><a href="./sobre_nosotros.html">Sobre nosotros</a></li>
                <li><a href="./contactanos.html">Contactanos</a></li>
                <li><a href="./como_encontrarnos.html">Como encontrarnos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos eligendi sit veritatis consequatur cumque accusantium nostrum quisquam laudantium eum sunt possimus aut vero consectetur, ipsum excepturi quidem ex quam iste!
    </main>

    <br><br>
    
    <footer>
        <li>Todos los derechos reservados</li>
        <nav>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="./productos.html">Productos</a></li>
            <li><a href="./sobre_nosotros.html">Sobre nosotros</a></li>
            <li><a href="./contactanos.html">Contactanos</a></li>
            <li><a href="./como_encontrarnos.html">Como encontrarnos</a></li>
            
            <li>Nuestras redes:</li>
            <li><a href="https://www.facebook.com/"><img src="../assets/Facebook.png" alt="Facebook"></a></li>
            <li><a href="https://www.instagram.com/"><img src="../assets/Instagram.jpg" alt="Instagram"></a></li>
            <li><a href="https://web.whatsapp.com/"><img src="../assets/Whatsapp.jpg" alt="Whatsapp"></a></li>
        </nav>
    </footer>

</body>
</html>