
.btn-personal{
    background-color: $color-secondary;
    color: $text-color;
    &:hover{
        color: $color-footer;
    }
}

.btn-main{
    background-color: $color-primary;
    color: $color-secondary;
    &:hover{
        background-color: $color-secondary;
        color: $color-footer;
    }
}

.btn-contactanos{
    background-color: $color-footer;
    color: $color-secondary;
    &:hover{
        background-color: $color-secondary;
        color: $color-footer;
    }
}