
@media only screen and (max-width: 1199px){
    // _______________________HEADER__________________________
    .header {  
        .header__navbar{
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }


    /* _____________________SOBRE_NOSOTROS___________________ */
    .main-sobre_nosotros__text{
        font-size: 1.2rem;
        width: 40rem;
        padding-top:2rem;
    }
}

@media only screen and (max-width: 991px){
    // _______________________HEADER__________________________
    .header {  
        .header__encabezado{
            width: 65%;
        }
    }

    /* ___________INDEX_______________ */

    .cards__destacadas{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* ___________PRODUCTOS_______________ */

    #brownie{
        width: 40rem;
    }
    
    #tarta_de_frutilla{
        width: 40rem;
    }
    
    #number_cake{
        width: 40rem;
    }

    #torta_de_un_piso{
        width: 40rem;
    }
    
    #torta_de_dos_pisos{
        width: 40rem;
    }
    
    #torta_de_tres_pisos{
        width: 40rem;
    }
    
    #shots{
        width: 40rem;
    }
    
    #macarons{
        width: 40rem;
    }
    
    #lemon_pie{
        width: 40rem;
    }

    /* _____________________SOBRE_NOSOTROS___________________ */
    .main-sobre_nosotros__carrusel{
        width: 40rem;
        height: 40rem;
    }


    .main-sobre_nosotros__text{
        width: 30rem;
    }

    // _____________________COMO_ENCONTRARNOS___________________
    .main-como_encontrarnos{
        flex-direction: column;
        align-items: center;
        .main-como_encontrarnos-local{
        img{
            width: 25rem;
        }
        }
    }

}


@media only screen and (max-width: 767px){
        // _______________________HEADER__________________________
        .header {  
            .header__encabezado{
                width: 73%;
            }
        }

    /* ___________PRODUCTOS_______________ */

    #brownie{
        width: 30rem;
    }
    
    #tarta_de_frutilla{
        width: 30rem;
    }
    
    #number_cake{
        width: 30rem;
    }

    #torta_de_un_piso{
        width: 30rem;
    }
    
    #torta_de_dos_pisos{
        width: 30rem;
    }
    
    #torta_de_tres_pisos{
        width: 30rem;
    }
    
    #shots{
        width: 30rem;
    }
    
    #macarons{
        width: 30rem;
    }
    
    #lemon_pie{
        width: 30rem;
    }
    
    /* ______________________FOOTER___________________________ */

    .footer__redes{
        flex-direction: column !important;
    }
}
  
@media only screen and (max-width: 575px){

/* _____________________________HEADER__________________________ */

    .header {  
        .header__encabezado{
            width: 80%;
            .header__logo {
                height: 4.5rem;
                width: 4.5rem;
                margin-top: 1rem ;
                margin-left: 1rem;
                img{
                    height: 4rem;
                    width: 4rem;
                    &:hover{
                        height: 4.5rem;
                        width: 4.5rem;
                    }
                }
                .header__titulo {
                    h1{
                        font-size: $text-medium;
                    }
                    h2{
                        font-size: $text-base;
                    }
            }   } 
        }
    }

/* _____________________________PRODUCTOS__________________________ */

    #brownie{
        width: 20rem;
    }
    
    #tarta_de_frutilla{
        width: 20rem;
    }
    
    #number_cake{
        width: 20rem;
    }

    #torta_de_un_piso{
        width: 20rem;
    }
    
    #torta_de_dos_pisos{
        width: 20rem;
    }
    
    #torta_de_tres_pisos{
        width: 20rem;
    }
    
    #shots{
        width: 20rem;
    }
    
    #macarons{
        width: 20rem;
    }
    
    #lemon_pie{
        width: 20rem;
    }

    /* ______________________FOOTER___________________________ */

    .footer{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "derechos menu"
        "redes redes";
        .footer__redes{
            flex-direction: row !important;
        }
    }
    @media only screen and (max-width: 450px){
        // _______________________HEADER__________________________
        .header {  
            .header__encabezado{
                width: 90%;
            }
        }

        // _____________________COMO_ENCONTRARNOS___________________
        .main-como_encontrarnos{
            flex-direction: column;
            align-items: center;
            .main-como_encontrarnos-local{
                img{
                width: 15rem;
                }
            }
        }
    }
}