#torta_de_un_piso{
    width: 30rem;
}

#torta_de_dos_pisos{
    width: 20rem;
}

#torta_de_tres_pisos{
    width: 30rem;
}

#shots{
    width: 35rem;
}

#macarons{
    width: 18rem;
}

#lemon_pie{
    width: 45rem;
}
