
.main-sobre_nosotros{
    display: flex;
    @include flexbox (row,center,center);
    padding-bottom: 2rem;
    .main-sobre_nosotros__carrusel{
        width: 50rem;
        height: 40rem;
        display: flex;
        align-items: center;
        img{
            width: 50rem;
            height: 40rem;
        }
    }
}

.main-sobre_nosotros__text{
    font-size: 1.2rem;
}